body {
  background-color: #ededee;
  color: #4e4e4e;
  font-size: 14px !important;
}

nav {
  position: fixed;
  width: 20%;
  height: 100vh;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.container-fluid {
  display: block;
}
.container {
  width: 80%;
  float: right;
  padding: 2%;
}
.card-row {
  display: flex;
  justify-content: space-between;
}
.card {
  width: -webkit-fill-available;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}
.card h2 {
  font-size: 15px;
  text-align: right;
}
.card h3 {
  margin: 0;
  background: #eef3fb;
  padding: 10px;
  color: #345da0;
  font-size: 15px;
  text-align: right;
}
.card p {
  font-size: 26px;
}
.card .caption {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 20px;
  font-size: 2rem;
  color: #fff;
  border-radius: 3px;
  left: 10px;
  top: -15px;
  position: absolute;
}
.card-row .card {
  margin-right: 30px;
}
.card-row .card:last-child {
  margin-right: 10px;
}
.title-bar {
  padding: 20px;
}
.blue {
  color: #4285f4 !important;
}

/*-- bg color --*/
.bg-blue01 {
  background-color: #29b6f6;
}
.bg-blue02 {
  background-color: #4285f4;
}
.bg-yellow01 {
  background-color: #fb3;
}
.bg-red01 {
  background-color: #ff5252;
}
/*-- bg color --*/

/*-- text align --*/
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
/*-- text align --*/

/*-- table stylings --*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1px;
}
table thead tr th,
table tbody tr td {
  padding: 10px;
}
table thead tr th {
  color: #345da0;
  border-bottom: solid 1px #d6d6d6;
}
/*-- table stylings --*/

select {
  margin-top: 5px;
  border: solid 1px #ccc;
  padding: 5px;
  border-radius: 5px;
}

.chart {
  width: 50%;
  /* height: 200px; */
  margin: 0 auto;
  display: table;
}

nav h3 {
  color: #3d6fcc;
}

nav {
  overflow-y: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav > ul > div > li {
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: 0px;
  color: #1f3861;
}
nav > ul > div > li > ul > li > a.active {
  border-left: solid 2px #4e87e4;
  background: #eaf0fb;
}
/* LM-UI */
nav > ul > div > li > ul > li > a {
  text-decoration: none;
  color: #1f3861;
  display: block;
  padding: 10px 15px;
}
.Employee-details {
  text-align: right;
  font-weight: 600;
}
.manageLeaves-input {
  padding: 4px 10px;
  font-size: 16px;
  display: inline-block;
  width: 25%;
}
.card-plus-icon {
  display: inline-block;
  float: right;
  font-weight: bold;
  font-size: 20px;
  margin-top: -5px;
}
.logo {
  text-align: center;
  padding: 10px;
}
.logo img {
  width: 150px;
}
.user-details {
  padding: 20px;
  text-align: center;
}
.user-name,
.user-emp-id {
  padding: 10px 0px;
}
.user-img {
  width: 50px;
  height: 50px;
  border: 1px solid #4e87e4;
  margin: 5px auto;
  border-radius: 50%;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
}
.user-img-mobile {
  display: none;
}
.close-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .logo img {
    width: 100%;
  }
  .container > .card {
    margin: 0;
  }
  .card {
    margin: 30px 0 0;
  }
  .card-row {
    display: block;
  }
  .card-row .card {
    margin-right: 0px;
  }
  .card-row .card:last-child {
    margin-right: 0px;
  }
  table thead tr th,
  table tbody tr td {
    padding: 8px;
  }
  table td {
    text-align: left !important;
  }
}
@media screen and (max-width: 767px) {
  .logo img {
    width: 150px;
  }
  .logo {
    text-align: left;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  }
  .user-img-mobile {
    display: inline-block;
    width: 35px !important;
    height: 35px;
    border: 1px solid #4e87e4;
    border-radius: 50%;
    float: right;
    margin-right: 30px;
  }
  .user-details {
    display: none;
  }
  nav {
    position: unset;
    width: 100%;
    height: auto;
  }
  .container {
    width: 100%;
    float: none;
    padding: 15px;
  }
  .card-table-body {
    overflow-x: auto;
  }
  .card-table-section {
    table-layout: fixed;
    width: 500px;
  }
  .hamburger-icon::before {
    content: "\2630";
    position: absolute;
    float: right;
    right: 20px;
    padding-top: 8px;
    font-size: 20px;
  }
  .side-nav-mobile {
    display: none;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
  }
  .side-nav-mobile.active {
    display: block;
  }
  .close-icon {
    display: inline-block;
    float: right;
    border: 1px solid gray;
    padding: 2px 4px;
    border-radius: 50%;
    font-size: 15px;
    color: gray;
    font-weight: 300;
  }
}
